/* Universal reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* This will be 10px on a standard 16px UA. It defines what 1rem is.*/
html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}
